h1 {
  text-align: center;
  font-family: "Consolas", sans-serif;
  color: #1e5c9d;
}

h2 {
  font-family: "Consolas", sans-serif;
   color: #1e5c9d;
}

.xmlCode{
  font-family: "Consolas", sans-serif;
  color: red;
}


body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e2eaf1;
}
